<?xml version="1.0" ?>

<robot name="dualarm" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- BGN - Include -->
  <xacro:include filename="$(find dualarm_description)/urdf/robot_parameters.xacro" />
  <xacro:include filename="$(find dualarm_description)/urdf/links_joints.xacro" />
  <xacro:property name="PI" value="3.1415926535897931"/>

  <!-- END - Include -->


  <link name="world"/>

  <joint name="world_base" type="fixed">
    <parent link="world"/>
    <child link="Arm_Link_00"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  
  <m_link_mesh name="${link_00_name}"
              origin_rpy="0 0 0" origin_xyz="4.5871E-06 -0.01113 0.72794"
              colvis_rpy="0 0 0" colvis_xyz="0 0 0"
              mass="13.893"
              ixx="4.451" ixy="1.3837E-05" ixz="-5.3838E-05"
              iyy="4.4296" iyz="0.12976"
              izz="0.13769"              
              meshfile="package://dualarm_description/meshes/dualarm/Arm_Link_00.STL"
              meshscale="1 1 1" />
              
  <m_joint name="Arm_Joint_1" type="revolute"
           axis_xyz="0 1 0"
           origin_rpy="0 0 3.1416" origin_xyz="0 -0.2305 1.567"
           parent="Arm_Link_00" child="Arm_Link_01" damping="0.7" friction="1.0"
           limit_e="1000" limit_l="-1.11" limit_u="3.09" limit_v="2.4" />
           
  <m_link_mesh name="${link_01_name}"
              origin_rpy="0 0 0" origin_xyz="0.00084 0.033665 -0.00002"
              colvis_rpy="0 0 0" colvis_xyz="0 0 0"
              mass="0.70151"
              ixx="0.00050315737" ixy="0.00000655128" ixz="0.00000042443"
              iyy="0.00031839677" iyz="0.00000023010"
              izz="0.00052445446"
              meshfile="package://dualarm_description/meshes/dualarm/Arm_Link_01.STL"
              meshscale="1 1 1" />
               
  <m_joint name="Arm_Joint_2" type="revolute"
           axis_xyz="1 0 0"
           origin_rpy="0 0 0" origin_xyz="0 0.05 0"
           parent="Arm_Link_01" child="Arm_Link_02" damping="0.7" friction="1.0"
           limit_e="1000" limit_l="-1.57" limit_u="1.57" limit_v="2.4" />
           
  <m_link_mesh name="${link_02_name}"
              origin_rpy="0 0 0" origin_xyz="0.00366 0.10318 0.00003"
              colvis_rpy="0 0 0" colvis_xyz="0 0 0"
              mass="1.42162"
              ixx="0.00368181349" ixy="-0.00018327606" ixz="-0.00000268131"
              iyy="0.00104405709" iyz="0.00000334569"
              izz="0.00406650369"
              meshfile="package://dualarm_description/meshes/dualarm/Arm_Link_02.STL"
              meshscale="1 1 1" />
              
  <m_joint name="Arm_Joint_3" type="revolute"
           axis_xyz="0 1 0"
           origin_rpy="0 0 0" origin_xyz="0 0.18525 0"
           parent="Arm_Link_02" child="Arm_Link_03" damping="0.7" friction="1.0"
           limit_e="1000" limit_l="-1.34" limit_u="1.09" limit_v="2.4" />
           
  <m_link_mesh name="${link_03_name}"
              origin_rpy="0 0 0" origin_xyz="0.0030362 0.06202 0.00069786"
              colvis_rpy="0 0 0" colvis_xyz="0 0 0"
              mass="0.2435"
              ixx="0.00068284" ixy="-8.5183E-06" ixz="-4.7514E-07"
              iyy="0.00022011" iyz="8.8649E-06"
              izz="0.00063402"
              meshfile="package://dualarm_description/meshes/dualarm/Arm_Link_03.STL"
              meshscale="1 1 1" />
              
  <m_joint name="Arm_Joint_4" type="revolute"
           axis_xyz="0 0 1"
           origin_rpy="0 0 0" origin_xyz="0 0.1168 0"
           parent="Arm_Link_03" child="Arm_Link_04" damping="0.7" friction="1.0"
           limit_e="1000" limit_l="-0.156" limit_u="2.48" limit_v="2.4" />
           
  <m_link_mesh name="${link_04_name}"
              origin_rpy="0 0 0" origin_xyz="0.00004 0.041284 -0.00463"
              colvis_rpy="0 0 0" colvis_xyz="0 0 0"
              mass="1.1894"
              ixx="0.00324613078" ixy="-0.00000202519" ixz="0.00000011493"
              iyy="0.00054844144" iyz="0.00023013877"
              izz="0.00324899669"
              meshfile="package://dualarm_description/meshes/dualarm/Arm_Link_04.STL"
              meshscale="1 1 1" />
              
  <m_joint name="Arm_Joint_5" type="revolute"
           axis_xyz="0 1 0"
           origin_rpy="0 0 0" origin_xyz="0 0.1274 0"
           parent="Arm_Link_04" child="Arm_Link_05" damping="0.7" friction="1.0"
           limit_e="1000" limit_l="-1.41" limit_u="1.392" limit_v="2.4" />
           
  <m_link_mesh name="${link_05_name}"
              origin_rpy="0 0 0" origin_xyz="-0.00229 0.13004 0.00324"
              colvis_rpy="0 0 0" colvis_xyz="0 0 0"
              mass="0.36826"
              ixx="0.00290786470" ixy="0.00008047904" ixz="-0.00001276791"
              iyy="0.00028211059" iyz="-0.00014451678"
              izz="0.00306362830"
              meshfile="package://dualarm_description/meshes/dualarm/Arm_Link_05.STL"
              meshscale="1 1 1" />

  <!-- END - Robot description -->
  
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    <legacyModeNS>true</legacyModeNS>
    <controlPeriod>0.001</controlPeriod>
    </plugin>
  </gazebo>

</robot>
